<h3 mat-dialog-title>4)</h3>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item>{{faturamento[0].estado}} - {{percentualFaturamento[0]| percent}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{faturamento[1].estado}} - {{percentualFaturamento[1]| percent}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{faturamento[2].estado}} - {{percentualFaturamento[2]| percent}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{faturamento[3].estado}} - {{percentualFaturamento[3]| percent}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{faturamento[4].estado}} - {{percentualFaturamento[4]| percent}}</mat-list-item>
    </mat-list>
</div>