<div class="container">
    <h1>Teste Técnico Target Sistemas</h1>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Exercício 1</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Observe o trecho de código abaixo:
                <br><br>
                int INDICE = 13, SOMA = 0, K = 0;
                <br><br>
                enquanto K {{'<'}} INDICE faça <br>
                {{'{'}}
                <br>
                K = K + 1;
                <br>
                SOMA = SOMA + K;
                <br>
                {{'}'}}
                <br><br>
                imprimir(SOMA);
                <br><br>
                Ao final do processamento, qual será o valor da variável SOMA?
            </p>
            <button mat-flat-button color="primary" (click)="open1()">Resposta</button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Exercício 2</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Dado a sequência de Fibonacci, onde se inicia por 0 e 1 e o próximo valor sempre será a soma dos 2 valores anteriores (exemplo: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...), escreva um programa na linguagem que desejar onde, informado um número, ele calcule a sequência de Fibonacci e retorne uma mensagem avisando se o número informado pertence ou não a sequência.
            </p>
            <button mat-flat-button color="primary" (click)="open2()">Resposta</button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Exercício 3</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Dado um vetor que guarda o valor de faturamento diário de uma distribuidora, faça um programa, na linguagem que desejar, que calcule e retorne:
                <br>• O menor valor de faturamento ocorrido em um dia do mês;
                <br>• O maior valor de faturamento ocorrido em um dia do mês;
                <br>• Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.
            </p>
            <button mat-flat-button color="primary" (click)="open3()">Resposta</button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Exercício 4</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Dado o valor de faturamento mensal de uma distribuidora, detalhado por estado:
                <br>
                <br>SP – R$67.836,43
                <br>RJ – R$36.678,66
                <br>MG – R$29.229,88
                <br>ES – R$27.165,48
                <br>Outros – R$19.849,53
                <br><br>
                Escreva um programa na linguagem que desejar onde calcule o percentual de representação que cada estado teve dentro do valor total mensal da distribuidora.
            </p>
            <button mat-flat-button color="primary" (click)="open4()">Resposta</button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Exercício 5</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escreva um programa que inverta os caracteres de um string.
            </p>
            <button mat-flat-button color="primary" (click)="open5()">Resposta</button>
        </mat-expansion-panel>
    </mat-accordion>

</div>